
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Material Designing By Sachin Mishra</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, minimal-ui" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="dns-prefetch" href="//code.jquery.com" />
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700' rel='stylesheet' type='text/css'>
    <link href="angular_css/angular-material.min.css" rel="stylesheet" />
    <link href="angular_css/animate.min.css" rel="stylesheet" />
    <link href="angular_css/appstyle.css" rel="stylesheet" />
</head>
<body ng-app="NewsAPI" ng-controller="DocumentationController" ng-cloak>



    <div layout="row" layout-wrap>
        <div flex="100">
            <md-toolbar style="background-color: #3f51b5; cursor:pointer">
                <a href="index.html" style="text-decoration:none;color:white;"><h1 style="margin-left: 21px;    margin-top: 7px;text-shadow: 3px 2px 2px #adef0b;">Weather Information</h1></a>
            </md-toolbar>
            <md-content layout="row" layout-align="center center" layout-xs="row">
                <md-input-container>
                    <label>Enter Your Country Name</label>
                    <input ng-model="SearchText" class="md-block" />
                </md-input-container>
                <md-button ng-click="SearchTextForCountry(SearchText)" class="md-primary md-raised md-ink-ripple">Search</md-button>
            </md-content>

            <div ng-show="IsNewsVisible==false">
                <div>
                    <div style="float:none">
                        <center><md-progress-circular md-mode="indeterminate" class="md-warn md-hue-4" md-diameter="96"></md-progress-circular></center>
                    </div>
                    <h1 class="md-display-1 loadingForMobile">
                        <center style="text-shadow: 3px 2px 2px #adef0b;    color: #7c12cc; font-size: 38px;">Loading.....</center>
                    </h1>
                </div>
            </div>
            <div ng-show="IsNewsVisible">
                <md-toolbar layout="column" style="background-color: #3f51b5; margin-left:1%;" layout-padding>
                    <div style="    float: right;    margin-top: -17px;    margin-bottom: -27px;">
                        <h1 class="md-headline">
                            <span style="float:left;text-shadow: 3px 2px 2px #adef0b;">
                                <h1 style="padding: 12px;    margin-top: -10px;    margin-bottom: 0.3rem;">
                                    {{ResultData.location.city}}
                                </h1>
                            </span>
                            <span style="float:right;text-shadow: 3px 2px 2px #adef0b;">
                                Updated {{ResultData.lastBuildDate}} at {{ResultData.location.country}} , {{ResultData.location.region}}
                            </span>
                        </h1>
                    </div>
                </md-toolbar>
                <md-content class="md-padding" layout-xs="column" layout="row" style="font-size: 17px;    text-shadow: 0px 1px 0px #5f32cd">
                    <div flex-xs flex-ft-xs="20" layout="column">
                        <md-card class="md-whiteframe-24dp" style="padding: 20px;">
                            <md-card-title>
                                <md-card-title-text>
                                    <h1 style="    margin-top: -20px;" class="md-headline">
                                        26 Dec 2016
                                        <center>
                                            <img style="height:48px;width:48px   ; margin-bottom: -36px;" alt="Sunny" src="//ssl.gstatic.com/onebox/weather/48/sunny.png">
                                        </center>
                                    </h1>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content>

                                <span style="    text-shadow: 1px -1px 2px yellowgreen;    font-size: 17px;padding-bottom: 10px;">
                                    <center>
                                        Monday
                                    </center>
                                </span>
                                <md-divider></md-divider>
                                <span>High</span>
                                <span style="float:right">20</span>
                                <md-divider></md-divider>
                                <span>Low</span>
                                <span style="float:right">13</span>
                                <md-divider></md-divider>
                            </md-content>
                        </md-card>
                    </div>


                </md-content>
                <md-content class="md-padding" layout-xs="column" layout="row">

                    <div flex-xs flex-gt-xs="25" layout-="column">
                        <md-card class="md-whiteframe-24dp" md-theme-watch>
                            <center><img src="images/sunrise.jpg" width="80px" height="80px" /></center>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Sunrise & Sunset</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <!--<hr />-->
                                <md-divider class="dividerLine"></md-divider>
                                <p>
                                    <span>Sunrise  <span style="float:right">{{ResultData.astronomy.sunrise}}</span></span><br />
                                    <span>Sunset <span style="float:right">{{ResultData.astronomy.sunset}}</span> </span>
                                </p>
                            </md-card-content>
                            <md-card-actions layout="column" layout-align="end end">
                                <md-button class="md-raised md-primary md-ink-ripple">Read More</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>

                    <div flex-xs flex-gt-xs="25" layout="column">
                        <md-card class="md-whiteframe-24dp">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Atmosphere</span>
                                    <md-divider></md-divider>
                                    <span class="md-subhead">
                                        <div style="    font-size: 16px;    font-style: bold;    font-weight: bold;">
                                            <span>Humidity <span style="float:right"> {{ResultData.atmosphere.humidity}} %</span> </span>
                                            <md-divider></md-divider>
                                            <span>Pressure <span style="float:right">{{ResultData.atmosphere.pressure}}</span></span>
                                            <md-divider></md-divider>
                                            <span>Visibility<span style="float:right">{{ResultData.atmosphere.visibility}}</span></span>
                                        </div>
                                    </span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-md card-media" style="padding-left: 28px;">
                                        <img style="border-radius: 8%;    border-color: 5px 2px yellow;    border-style: solid;    border-color: #b0fb09 #c8fb03;    background-color: white;" src="images/atomspehe.jpg" />
                                    </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="column" layout-align="end end">
                                <md-button class="md-raised md-primary md-ink-ripple">Read More</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>

                    <div flex-xs flex-gt-xs="25" layout="column">
                        <md-card class="md-whiteframe-24dp">
                            <center><img src="images/weather.jpg" /></center>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Weather</span>

                                </md-card-title-text>
                            </md-card-title>

                            <md-card-content>
                                <md-divider class="dividerLine"></md-divider>
                                <p>
                                    <span>
                                        Temperature<span style="float:right">
                                            {{( ( ResultData.item.condition.temp -32 ) *.556 ) | number:3}}
                                        </span>
                                    </span>
                                    <md-divider></md-divider>
                                    <span>
                                        Fahrenheit<span style="float:right">
                                            {{ResultData.item.condition.temp}}
                                        </span>
                                    </span>
                                    <md-divider></md-divider>
                                    <span>Weather<span style="float:right">{{ResultData.item.condition.text}} </span></span>
                                    <md-divider></md-divider>
                                </p>
                            </md-card-content>
                            <md-card-actions layout="column" layout-align="end end">
                                <md-button class="md-primary md-raised md-ink-ripple">
                                    Read More
                                </md-button>
                            </md-card-actions>
                        </md-card>
                    </div>


                    <div flex-xs flex-gt-xs="25" layout="column">
                        <md-card class="md-whiteframe-24dp">
                            <center><img src="images/wind.jpg" /></center>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Wind</span>

                                </md-card-title-text>
                            </md-card-title>

                            <md-card-content>
                                <md-divider class="dividerLine"></md-divider>
                                <p>
                                    <span>Wind<span style="float:right">{{ResultData.wind.chill}} mph NE</span></span>
                                    <md-divider></md-divider>
                                    <span>Barometer<span style="float:right">{{ResultData.wind.speed}} inches</span></span>
                                    <md-divider></md-divider>
                                    <span>Direction <span style="float:right">{{ResultData.wind.direction}} Kmph</span></span>
                                    <md-divider></md-divider>
                                </p>
                            </md-card-content>
                            <md-card-actions layout="column" layout-align="end end">
                                <md-button class="md-primary md-raised md-ink-ripple" layout-align="end end">
                                    Read More
                                </md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>
            </div>
        </div>
    </div>

</body>
<script src="angular_material/jquery-1.10.2.min.js"></script>
<script src="angular_material/angular.min.js"></script>
<script src="angular_material/angular-animate.min.js"></script>
<script src="angular_material/angular-aria.min.js"></script>
<script src="angular_material/angular-messages.min.js"></script>
<script src="angular_material/angular-material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="angular_material/scripts/app.js"></script>
<script src="angular_material/scripts/services/NewsService.js"></script>
<script src="angular_material/scripts/controllers/DocumentationController.js"></script>
</html>
